body{
    background-color: lightblue;
}
header{
    background-color:antiquewhite;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap:nowrap;
}
.logo img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
nav a{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
}
#button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.hero{
    text-align: center;
    padding: 80px 20px;
    color: green;
    font-size: 20px;
}
.hero h1{
    font-size: 50px;
    margin-bottom: 15px;
}

.hero p{
    font-size: 22px;
    margin-bottom: 25px;
}
.btn{
    background-color:bisque;
    color:darkviolet ;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 6px;
}
#Home-btn:hover,
#Menu-btn:hover,
#Gallery-btn:hover,
#Contact-btn:hover{
    background-color: lightgreen;
}

#Order-btn:hover{
    background-color: orange;
}
#Home-btn:active,
#Menu-btn:active,
#Gallery-btn:active,
#Contact-btn:active{
    background-color:brown;
}
#Order-btn:active{
    background-color: chartreuse;
}
@media screen and (max-width:768px){

    header{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding:10px;
    }

    .logo img{
        width:60px;
        height:60px;
    }

    #button{
        display:flex;
        flex-wrap:wrap;
        justify-content:flex-end;
        gap:5px;
    }

    nav a{
        padding:5px 8px;
        font-size:14px;
    }

    .hero h1{
        font-size:32px;
    }

    .hero p{
        font-size:18px;
    }
}{
        font-size: 18px;
    }
}
